extends layout

block content
  h1= title
  p Welcome to #{title}
  table(style='width:100%', border='1')
    tr
      th Routes
      th Type
      th Input
      th Output
    tr
      td /portfolio?clientId=string 
      td GET
      td 
        p
          p ClientId is optional if not send its used guest
          b ?clientId=string  
      td Object
    tr
      td /portfolio/holdings?clientId=string 
      td GET
      td 
        p
          p ClientId is optional if not send its used guest
          b ?clientId=string  
      td Object
    tr
      td /portfolio/returns?clientId=string 
      td GET
      td 
        p
          p ClientId is optional if not send its used guest
          b ?clientId=string  
      td Object
    tr
      td /portfolio/addTrade
      td POST
      td  
        p Pass the whole trade values, client() to insert a new trade for the given client
        p
          b { date: 'DD/MM/YYYY', type: buy/sell, quantity: number, price: number, stock: string, clientId(optional): string }
      td  Object {success: boolean, data}
    tr
      td /portfolio/update
      td POST
      td  
        p Pass the whole trade object as trade along with updates as update to update the given trade
        p
          b { 
            p trade: {"type": "buy", "price": 1000, "quantity": 100, "stock": "Reliance", "date": "11/10/2016"}, 
            p  update: {"date": "11/10/2018"},
            P  client: "optional"
            | }
      td  Object {success: boolean, data}

    tr
      td /portfolio/removeTrade
      td POST
      td
        p Pass the whole trade object along with client to delete that trade
        p 
          b {"type": "buy", "price": 1000, "quantity": 100, "stock": "Reliance", "date": "11/10/2016", clientId: "any"} 
          
      td  Object {success: boolean, data}
    tr
      td /portfolio/removeAllTrade
      td POST
      td
        p Pass the client for which you want to delete all the trades
        p 
          b {"type": "buy", "price": 1000, "quantity": 100, "stock": "Reliance", "date": "11/10/2016", clientId: "any"} 
          
      td  Object {success: boolean, data}
